
---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const categories = Array.from(new Set(posts.map(post => post.data.category).filter(Boolean)));

  return categories.map(category => ({
    params: { category }
  }));
}

const { category } = Astro.params;
const posts = (await getCollection('blog')).filter(post => post.data.category === category);
---

<h1>Articles dans la catégorie : {category}</h1>

<ul>
  {posts.map(post => (
    <li><a href={`/blog/${post.slug.split("/").slice(-1)[0]}/`}>{post.data.title}</a></li>
  ))}
</ul>
