---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<ul>
  {posts.map(post => (
    <li>
      <a href={`/blog/${post.slug.split("/").slice(-1)[0]}`}>{post.data.title}</a>
    </li>
  ))}
</ul>