---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('articles');
  const tags = [...new Set(posts.flatMap(post => post.data.tags || []))];
  
  return tags.map(tag => ({
    params: { tag },
    props: { 
      posts: posts.filter(post => post.data.tags?.includes(tag))
    }
  }));
}
const { tag } = Astro.params;
const posts = (await getCollection('articles')).filter(post => post.data.tags.includes (tag));
---

<h1>Articles avec le tag : {tag}</h1>

<ul>
  {posts.map(post => (
    <li><a href={`/articles/${post.slug.split("/").slice(-1)[0]}/`}>{post.data.title}</a>&nbsp;({post.data.category})</li>
  ))}
</ul>

