---
import { getCollection } from 'astro:content';

const posts = await getCollection('articles');
const tagCounts = {};

posts.forEach(post => {
  post.data.tags?.forEach(tag => {
    tagCounts[tag] = (tagCounts[tag] || 0) + 1;
  });
});

const sortedTags = Object.entries(tagCounts)
  .sort(([,a], [,b]) => b - a);
---

<div class="tags-cloud">
  {sortedTags.map(([tag, count]) => (
    <a href={`/tags/${tag}/`} class="tag-link">
      #{tag} ({count})
    </a>
  ))}
</div>
